#home{
    background: #fdc012;
    color: white;
}

.navegacaoCabecalho a{
    font-weight: bolder;
}

.navegacaoCabecalho li{
    padding-bottom: 5px;
    border-bottom: 2px solid #cc9600;
    transition: 0.5s;
}

.navegacaoCabecalho li:hover{
    border-bottom:2px solid whitesmoke;
}

.caixa{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

.caixa h4{
    margin-top: 40px;
}

.caixa2{
    padding: 20px 0;
}
