@keyframes loading{
    from{
        transform: translateY(-200px);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.bodyheader{
    background: url(./img/bg-mulher.jpg) center center no-repeat scroll;
    background-size: cover;
    padding: 0 0 4.5em;
    position: relative;
    color: #fff;
    height: 120vh;
}

.bodyheader::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0
}

.bodyheader::before { background: rgba(0, 0, 0, 0.3); 
}
.bodyNav{
    background: rgba(255, 255, 255, 0.781);
    border-bottom: #ff2b2b 2px solid ;
    padding: 0.2rem 0.5rem;
    animation: loading 0.5s;
}

/*button*/

.btn-custom-login{
    color: #4c4c4c;
    transition: 0.3s;
    padding: 10px 15px;
}
.btn-custom-login:hover{
    color: #ff2b2b;
}

.bnt-custom-join{
    text-transform: uppercase;
    background: #fa5454;
    color: #fff;
    padding: 10px 15px;
}
.bnt-custom-join:hover{
    text-decoration: none;
    color: white;
    background: #ff2b2b;
}
.btn-toggler{
    color: #fa5454;
}
.btn-toggler:hover{
    color: #fff;
    background: #ff2b2b;
}

/*barra navegacao*/

.nav-custom li{
    padding:1.2em ;
}

.nav-custom a{
    color: #4c4c4c;
    transition: 0.3s;
}
.nav-custom a:hover{
    color: #ff2b2b;
    text-decoration: none;
}
.margin-left{
    border-left:3px solid #fa5454 ;
}